LITELLM_MASTER_KEY="sk-xxxxxxxxg"
OPENAI_API_KEY="sk-xxxxxxxxg"
OPENAI_ADMIN_KEY="sk-xxxxxxxxg"
OPENAI_BASE_URL="http://0.0.0.0:4000"
CHAT_MODEL_NAME="groq/llama-3.1-8b-instant"
EMBEDDING_MODEL_NAME="openrouter/openai/text-embedding-3-small"
STORE_MODEL_IN_DB=True